<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteCond %{HTTP_HOST} !^ocpsoft\.org [NC]
  RewriteRule ^(.*)$ http://ocpsoft.org/support/$1 [R=301,L]
</IfModule>

# BEGIN bbPress

Options -MultiViews

<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /support/

RewriteRule ^page/([0-9]+)/?$ /support/index.php?page=$1 [L,QSA]
RewriteRule ^forum/([^/]+)/page/([0-9]+)/?$ /support/forum.php?id=$1&page=$2 [L,QSA]
RewriteRule ^forum/([^/]+)/?$ /support/forum.php?id=$1 [L,QSA]
RewriteRule ^forum/?$ /support/ [R=302,L,QSA]
RewriteRule ^topic/([^/]+)/page/([0-9]+)/?$ /support/topic.php?id=$1&page=$2 [L,QSA]
RewriteRule ^topic/([^/]+)/?$ /support/topic.php?id=$1 [L,QSA]
RewriteRule ^topic/?$ /support/ [R=302,L,QSA]
RewriteRule ^tags/([^/]+)/page/([0-9]+)/?$ /support/tags.php?tag=$1&page=$2 [L,QSA]
RewriteRule ^tags/([^/]+)/?$ /support/tags.php?tag=$1 [L,QSA]
RewriteRule ^tags/?$ /support/tags.php [L,QSA]
RewriteRule ^profile/([^/]+)/page/([0-9]+)/?$ /support/profile.php?id=$1&page=$2 [L,QSA]
RewriteRule ^profile/([^/]+)/([^/]+)/?$ /support/profile.php?id=$1&tab=$2 [L,QSA]
RewriteRule ^profile/([^/]+)/([^/]+)/page/([0-9]+)/?$ /support/profile.php?id=$1&tab=$2&page=$3 [L,QSA]
RewriteRule ^profile/([^/]+)/?$ /support/profile.php?id=$1 [L,QSA]
RewriteRule ^profile/?$ /support/profile.php [L,QSA]
RewriteRule ^view/([^/]+)/page/([0-9]+)/?$ /support/view.php?view=$1&page=$2 [L,QSA]
RewriteRule ^view/([^/]+)/?$ /support/view.php?view=$1 [L,QSA]
RewriteRule ^rss/?$ /support/rss.php [L,QSA]
RewriteRule ^rss/topics/?$ /support/rss.php?topics=1 [L,QSA]
RewriteRule ^rss/support/([^/]+)/?$ /support/rss.php?forum=$1 [L,QSA]
RewriteRule ^rss/support/([^/]+)/topics/?$ /support/rss.php?forum=$1&topics=1 [L,QSA]
RewriteRule ^rss/topic/([^/]+)/?$ /support/rss.php?topic=$1 [L,QSA]
RewriteRule ^rss/tags/([^/]+)/?$ /support/rss.php?tag=$1 [L,QSA]
RewriteRule ^rss/tags/([^/]+)/topics/?$ /support/rss.php?tag=$1&topics=1 [L,QSA]
RewriteRule ^rss/profile/([^/]+)/?$ /support/rss.php?profile=$1 [L,QSA]
RewriteRule ^rss/view/([^/]+)/?$ /support/rss.php?view=$1 [L,QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^.*$ /support/index.php [L]
</IfModule>

# END bbPress
